.searchResultsHeader {
	background:#AAAAAA;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.33;
	font-weight: bold;
	color: #FF0000;
}

.title
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.subtitle
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.9em;
  line-height: 1.33;
}

.bigtext
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  line-height: 1.50;
}

.text
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
}

.smalltext
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  line-height: 1.33;
}

.label
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
  font-weight: bold;
}

.redlabel
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
  font-weight: bold;
  color:#FF0000
}

.smalllabel
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  line-height: 1.33;
}

.text TD
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
}

.submenu
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
}

.submenu TD
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.submenu TD A
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: none;
  color:#000000;
}

.submenu TD A:hover
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: underline;
  color:#000000;
}

#facetLinksHeader {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 145px; 
    left: 5px; 
    
}
#facetLinks {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 200px; 
    left: 15px; 
    
}

#searchString{
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
    left: 130px; 
    width: 150px;
    margin: 10px;
}


#searchButton{
	margin: 10px;
    position: absolute;
    top: 10px; 
    left: 400px; 
    width: 200px;
}


#adminLogin {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
    left: 625px; 
    width: 200px;
    margin: 10px;
}

#sortbyRelevance{
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
	left: 10px; 
    width: 100px;
    margin: 10px;
}

#searchResultsPanel {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 60px; 
    left: 130px; 
    width: 670px;
    
}

#libraryReleasePanel {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 60px; 
    left: 10px; 
    width: 790px;
    
}

#searchResultsHeader {
	background:#AAAAAA;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.33;
	font-weight: bold;
	color: #FF0000;
}
 
.sortFieldHighlight {
	background:#EEEEEE;
}

#facetLinks a:hover{
    color:#FF0000;
}

#pageLinks {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
}


ul 
{ 
  list-style-type: circle; padding-top: 0; padding-bottom: 0;  border: 0;
}

ol 
{ 
  padding-top: 0; padding-bottom: 0;  border: 0;
}

li
{
  padding-top: 0; padding-bottom: 0; border: 0;
}

INPUT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
SELECT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
TEXTAREA { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }

.centerWidth {
	 width: 800px;
	 text-align: center;
}

/* Windows 2000 Dark Theme - Retro Palette */
html[data-experience="classic"][data-joy-color-scheme="dark"] body,
html[data-experience="classic"][data-joy-color-scheme="dark"] {
	background-color: #2D2D2D;
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .title {
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .subtitle {
	color: #D0D0D0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .bigtext {
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .text {
	color: #D0D0D0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .smalltext {
	color: #C0C0C0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .label {
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .redlabel {
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .searchResultsHeader {
	background: #5A5A5A;
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] #searchResultsHeader {
	background: #5A5A5A;
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .sortFieldHighlight {
	background: #4A4A4A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] #facetLinks a:hover {
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .submenu TD A {
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .submenu TD A:hover {
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] INPUT {
	background-color: #3D3D3D;
	color: #E0E0E0;
	border: 1px solid #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] INPUT:disabled {
	background-color: #2D2D2D;
	color: #808080;
	border: 1px solid #4A4A4A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] SELECT {
	background-color: #3D3D3D;
	color: #E0E0E0;
	border: 1px solid #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] SELECT:disabled {
	background-color: #2D2D2D;
	color: #808080;
	border: 1px solid #4A4A4A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] TEXTAREA {
	background-color: #3D3D3D;
	color: #E0E0E0;
	border: 1px solid #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .ac_results {
	background-color: #3D3D3D;
	border: 1px solid #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .ac_results li {
	border-bottom: 1px solid #4A4A4A;
	color: #E0E0E0;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .ac_over {
	background-color: #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .ac_odd {
	background-color: #3D3D3D;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] .ac_even {
	background-color: #353535;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] table {
	border-color: #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] td,
html[data-experience="classic"][data-joy-color-scheme="dark"] th {
	border-color: #5A5A5A;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] a {
	color: #B0D0FF;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] a:hover {
	color: #FF8080;
}

html[data-experience="classic"][data-joy-color-scheme="dark"] a:visited {
	color: #D0B0FF;
}
