
/* CLASSIC VIEW CSS. REMOVE BELOW HERE IF ELIMINATING. */


html[data-classic-view="true"][data-classic-font-size="1"] body {
  font-size: 0.7em;
}

html[data-classic-view="true"][data-classic-font-size="2"] body {
  font-size: 0.9em;
}

html[data-classic-view="true"][data-classic-font-size="3"] body {
  font-size: 1.1em;
}

html[data-classic-view="true"][data-classic-font-size="4"] body {
  font-size: 1.3em;
}

html[data-classic-view="true"][data-classic-font-size="5"] body {
  font-size: 1.5em;
}

html[data-classic-view="true"][data-classic-font-size="6"] body {
  font-size: 1.7em;
}

html[data-classic-view="true"][data-classic-font-size="7"] body {
  font-size: 2em;
}

html[data-classic-view="true"] body {
    background-color: #fff;
    color: #000;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif !important;
  }
  
  html[data-classic-view="true"] .searchResultsHeader {
      background:#AAAAAA;
      text-align: center;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #FF0000;
  }
  
  html[data-classic-view="true"] .title
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
  }
  
  html[data-classic-view="true"] .subtitle
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    line-height: 1.33;
  }
  
  html[data-classic-view="true"] .bigtext
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    line-height: 1.50;
  }
  
  html[data-classic-view="true"] .text
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    line-height: 1.33;
  }
  
  html[data-classic-view="true"] .smalltext
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
  }
  
  html[data-classic-view="true"] .label
  {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    line-height: 1.33;
    font-weight: bold;
  }
  
  html[data-classic-view="true"] .redlabel
  {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    line-height: 1.33;
    font-weight: bold;
    color:#FF0000
  }
  
  html[data-classic-view="true"] .smalllabel
  {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
  }
  
  html[data-classic-view="true"] .text TD
  {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    line-height: 1.33;
  }
  
  html[data-classic-view="true"] .submenu
  {
    font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
  }
  
  html[data-classic-view="true"] .submenu TD
  {
    font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  html[data-classic-view="true"] .submenu TD A
  {
    font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-decoration: none;
    color:#000000;
  }
  
  html[data-classic-view="true"] .submenu TD A:hover
  {
    font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-decoration: underline;
    color:#000000;
  }
  
  html[data-classic-view="true"] #facetLinksHeader {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 145px; 
      left: 5px; 
      
  }
  html[data-classic-view="true"] #facetLinks {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 200px; 
      left: 15px; 
      
  }
  
  html[data-classic-view="true"] #searchString{
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 10px; 
      left: 130px; 
      width: 150px;
      margin: 10px;
  }
  
  
  html[data-classic-view="true"] #searchButton{
      margin: 10px;
      position: absolute;
      top: 6px; 
      left: 470px; 
      width: 200px;
  }
  
  
  html[data-classic-view="true"] #adminLogin {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 10px; 
      left: 625px; 
      width: 200px;
      margin: 10px;
  }
  
  html[data-classic-view="true"] #sortbyRelevance{
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 10px; 
       left: 10px; 
      width: 100px;
      margin: 10px;
  }
  
  html[data-classic-view="true"] #searchResultsPanel {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 60px; 
      left: 130px; 
      width: 670px;
      
  }
  
  html[data-classic-view="true"] #libraryReleasePanel {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
      position: absolute;
      top: 60px; 
      left: 10px; 
      width: 790px;
      
  }
  
  html[data-classic-view="true"] #searchResultsHeader {
      background:#AAAAAA;
      text-align: center;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #FF0000;
  }
   
  html[data-classic-view="true"] .sortFieldHighlight {
      background:#EEEEEE;
  }
  
  html[data-classic-view="true"] #facetLinks a:hover{
      color:#FF0000;
  }
  
  html[data-classic-view="true"] #pageLinks {
      text-align: left;
      font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
  }
  
  
  html[data-classic-view="true"] ul 
  { 
    list-style-type: circle; padding-top: 0; padding-bottom: 0;  border: 0;
  }
  
  html[data-classic-view="true"] ol 
  { 
    padding-top: 0; padding-bottom: 0;  border: 0;
  }
  
  html[data-classic-view="true"] li
  {
    padding-top: 0; padding-bottom: 0; border: 0;
  }
  
  html[data-classic-view="true"] INPUT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
  html[data-classic-view="true"] SELECT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
  html[data-classic-view="true"] TEXTAREA { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }

  html[data-classic-view="true"] input { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
  html[data-classic-view="true"] select { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
  html[data-classic-view="true"] textarea { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
  
  html[data-classic-view="true"] .centerWidth {
       width: 800px;
       text-align: center;
  }
  

html[data-classic-view="true"] .littlegreenlabel  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 1.33;
    font-weight: bold;
    color: #00FF00;
  }
  
html[data-classic-view="true"]   .redtitle  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: bold;
      color: #FF0000
  }
  
html[data-classic-view="true"]   .title  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: bold;
  }
  
html[data-classic-view="true"]   .subtitle  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .radioShowHover  {
      font-weight: bold;
      background: #CC0000;
  }
  
html[data-classic-view="true"]   .radioShowDisplayBlock  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.6em;
      line-height: 1.33;
      text-align: center;
      background: #bbb;
  }
  
html[data-classic-view="true"]   .radioShowDisplayBlockHover  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.6em;
      line-height: 1.33;
      text-align: center;
      background: #eee;
  }
  
html[data-classic-view="true"]   .playlistEntry  {
      background: #F3F3F3;
  }
  
html[data-classic-view="true"]   .playlistEntryHover  {
      background: #FFFFFF;
  }
  
html[data-classic-view="true"]   .playlistEntrySearchResult  {
      background: #CCC;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .playlistEntrySearchResultHover  {
      background: #EEE;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
  }
  
  
html[data-classic-view="true"]   .playlistEntryHighlight  {
      background: #FF0000;
      font-weight: bold;
  }
  
html[data-classic-view="true"]   .radioWeekHeader  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      line-height: 1.33;
      text-align: center;
      background: #bbb;
  }
  
html[data-classic-view="true"]   .radioDayHeader  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      line-height: 1.33;
      text-align: center;
      background: #bbb;
  }
  
html[data-classic-view="true"]   .radioDayNonshow  {
      background: #444;
  }
  
html[data-classic-view="true"]   .radioDayLine  {
      background: #000;
  }
  
html[data-classic-view="true"]   .endOfDay  {
      background: #900;
  }
  
html[data-classic-view="true"]   .bigtext  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 1.3em;
      line-height: 1.50;
  }
  
html[data-classic-view="true"]   .text  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .smalltext  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .label  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
  }
  
html[data-classic-view="true"]   .redlabel  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #FF0000
  }
  
html[data-classic-view="true"]   .searchResultsHeader  {
      background:#AAAAAA;
      text-align: center;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #FF0000;
  }
  
  
html[data-classic-view="true"]   .sortFieldHighlight  {
      background:#EEEEEE;
  }
html[data-classic-view="true"]   .littlegreenlabel  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #00FF00
  }
  
html[data-classic-view="true"]   .breakpoint  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #00FF00
  }
  
html[data-classic-view="true"]   .talkset  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
      font-weight: bold;
      color: #DDDD22
  }
  
html[data-classic-view="true"]   .bigblue  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 1.3em;
      line-height: 1.50;
      font-weight: bold;
      color: #0000FF
  }
  
html[data-classic-view="true"]   .greenlabel  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 1.3em;
      line-height: 1.50;
      font-weight: bold;
      color: #00FF00
  }
  
html[data-classic-view="true"]   .smalllabel  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.7em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .text TD  {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      line-height: 1.33;
  }
  
html[data-classic-view="true"]   .submenu  {
      font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
  }
  
html[data-classic-view="true"]   .submenu TD  {
      font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      font-weight: bold;
  }
  
html[data-classic-view="true"]   .submenu TD A  {
      font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-weight: normal;
      text-decoration: none;
      color: #000000;
  }
  
html[data-classic-view="true"]   .submenu TD A:hover  {
      font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
      font-weight: normal;
      text-decoration: underline;
      color: #000000;
  }
  
html[data-classic-view="true"]   ul  {
      padding-top: 4px;
      padding-bottom: 4px;
      border: 0;
  }
  
html[data-classic-view="true"]   ol  {
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
  }
  
html[data-classic-view="true"]   li  {
      padding-top: 4px;
      padding-bottom: 4px;
      border: 0;
  }
  
html[data-classic-view="true"]   INPUT  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 12px;
  }
  
html[data-classic-view="true"]   SELECT  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 12px;
  }
  
html[data-classic-view="true"]   TEXTAREA  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 12px;
  }

  html[data-classic-view="true"]  a:visited {
    color: blue;
  }

  html[data-classic-view="true"]  #font-1 {
    font-size: 0.7em;
  }

  html[data-classic-view="true"]  #font-2 {
    font-size: 0.9em;
  }

  html[data-classic-view="true"]  #font-3 {
    font-size: 1.1em;
  }

  html[data-classic-view="true"]  #font-4 {
    font-size: 1.3em;
  }

  html[data-classic-view="true"]  #font-5 {
    font-size: 1.5em;
  }

  html[data-classic-view="true"]  #font-6 {
    font-size: 1.7em;
  }

  html[data-classic-view="true"]  #font-7 {
    font-size: 2em;
  }

  html[data-classic-view="true"]  .fontButton {
    background: none;
    outline: 1px solid #000;
    border: none;
    border-radius: 0;
    margin: 2px;
  }

  html[data-classic-view="true"]  .fontButton:hover {
    background: #000;
    color: #fff;
  }

  html[data-classic-view="true"]  .fontButton.active {
    background: red;
    color: #fff;
  }