body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: block;
}

main {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* fix for autocomplete z-index since we're hacking the tooltip on the schedule edit page in station management */
.MuiAutocomplete-listbox, .MuiAutocomplete-listbox > * {
  z-index: 800000 !important;
}

/* CLASSIC VIEW CSS. REMOVE BELOW HERE IF ELIMINATING. */

html[data-classic-view="true"] body {
  background-color: #fff;
  color: #000;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif !important;
}

html[data-classic-view="true"] .searchResultsHeader {
	background:#AAAAAA;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.33;
	font-weight: bold;
	color: #FF0000;
}

html[data-classic-view="true"] .title
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: bold;
}

html[data-classic-view="true"] .subtitle
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.9em;
  line-height: 1.33;
}

html[data-classic-view="true"] .bigtext
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  line-height: 1.50;
}

html[data-classic-view="true"] .text
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
}

html[data-classic-view="true"] .smalltext
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  line-height: 1.33;
}

html[data-classic-view="true"] .label
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
  font-weight: bold;
}

html[data-classic-view="true"] .redlabel
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
  font-weight: bold;
  color:#FF0000
}

html[data-classic-view="true"] .smalllabel
{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  line-height: 1.33;
}

html[data-classic-view="true"] .text TD
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
}

html[data-classic-view="true"] .submenu
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
}

html[data-classic-view="true"] .submenu TD
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

html[data-classic-view="true"] .submenu TD A
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: none;
  color:#000000;
}

html[data-classic-view="true"] .submenu TD A:hover
{
  font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: underline;
  color:#000000;
}

html[data-classic-view="true"] #facetLinksHeader {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 145px; 
    left: 5px; 
    
}
html[data-classic-view="true"] #facetLinks {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 200px; 
    left: 15px; 
    
}

html[data-classic-view="true"] #searchString{
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
    left: 130px; 
    width: 150px;
    margin: 10px;
}


html[data-classic-view="true"] #searchButton{
	margin: 10px;
    position: absolute;
    top: 6px; 
    left: 470px; 
    width: 200px;
}


html[data-classic-view="true"] #adminLogin {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
    left: 625px; 
    width: 200px;
    margin: 10px;
}

html[data-classic-view="true"] #sortbyRelevance{
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 10px; 
 	left: 10px; 
    width: 100px;
    margin: 10px;
}

html[data-classic-view="true"] #searchResultsPanel {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 60px; 
    left: 130px; 
    width: 670px;
    
}

html[data-classic-view="true"] #libraryReleasePanel {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
    position: absolute;
    top: 60px; 
    left: 10px; 
    width: 790px;
    
}

html[data-classic-view="true"] #searchResultsHeader {
	background:#AAAAAA;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.33;
	font-weight: bold;
	color: #FF0000;
}
 
html[data-classic-view="true"] .sortFieldHighlight {
	background:#EEEEEE;
}

html[data-classic-view="true"] #facetLinks a:hover{
    color:#FF0000;
}

html[data-classic-view="true"] #pageLinks {
	text-align: left;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    line-height: 1.33;
}


html[data-classic-view="true"] ul 
{ 
  list-style-type: circle; padding-top: 0; padding-bottom: 0;  border: 0;
}

html[data-classic-view="true"] ol 
{ 
  padding-top: 0; padding-bottom: 0;  border: 0;
}

html[data-classic-view="true"] li
{
  padding-top: 0; padding-bottom: 0; border: 0;
}

html[data-classic-view="true"] INPUT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
html[data-classic-view="true"] SELECT { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }
html[data-classic-view="true"] TEXTAREA { font-family: Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:12px; }

html[data-classic-view="true"] .centerWidth {
	 width: 800px;
	 text-align: center;
}

.littlegreenlabel {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.33;
  font-weight: bold;
  color: #00FF00;
}