/* Import experience-specific styles */
@import "../../lib/features/experiences/classic/globals.css";
@import "../../lib/features/experiences/modern/globals.css";


/**
 * Global Styles - Shared across all experiences
 */
html,
body {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100vh;
    overflow: hidden;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
